html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-open-button, .menu-item {
    background-color: #E1013C;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
}

.menu {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    justify-content: space-between;
}

.menu-line {
    height: 3px;
    width: 30px;
    background-color: white;
    margin-top: 5px;
}

.menu-open:checked + .menu-open-button .menu-line-1 {
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
}

.menu-open:checked + .menu-open-button .menu-line-2 {
    background: transparent;
}

.menu-open:checked + .menu-open-button .menu-line-3 {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.menu-open:checked + .menu-open-button .menu-line-2, .menu-open:checked + .menu-open-button .menu-line-3 {
    margin-top: -3px;
    transition: transform 0.3s ease;
}

.menu-item {
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    opacity: 0;
    transform: translateY(-3);
    transition: transform 0.3s ease-in,  opacity 0.3s ease-in;
}

.menu-open-button {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 2rem;
}

.menu-item i {
    font-size: 2rem;
    color: white;
}

a {
    text-decoration: none;
}

.menu-open {
    display: none;
}

.menu-open-button:hover {
    transform: scale(1.13);
}

.menu-open:checked + .menu-open-button ~ .menu-item {
    opacity: 1;
    transform: translateY(25px);
    transition: transform 0.3s ease-in,  opacity 0.3s ease-in;
    cursor: pointer;
}

.menu-item:hover i {
    color: #E1013C;
}

.menu .menu-item:hover {
    background-color: white;
    border: 2px solid #E1013C;
}
